.m-0 {
  margin: 0%;
}
.p-0{
    padding: 0%;    
}
.Selector{
  box-sizing: border-box;
}
.bg-primary{
    background-color: rgb(202, 199, 199) !important;
}
.bg-secondary{
    background-color: lightgrey !important;
}
.bg-primary-subtle{
    background-color: rgb(133, 125, 125) !important;
}
